@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spacing-border-and-text: 10px;
}

html {
  @apply text-[4vw] sm:text-[2vw] xl:text-[1vw];
}

body {
  padding: 2px 4px;
}

/* element */

/* input */
input {
  @apply outline-none w-full p-0;
}
/* button */
button {
  padding: 0 var(--spacing-border-and-text);
  @apply border flex items-center h-[40px] !py-[20px] rounded-[20px] shadow-md;
}
button:active {
  @apply shadow-none;
}

/* spacing */
.outside-m-cont {
  margin: var(--spacing-border-and-text);
}

.inside-p-cont {
  padding: 0 var(--spacing-border-and-text);
}

.div-editable {
  @apply border px-4 py-2 rounded flex-1 outline-none;
}
